@page "/"
@using System.Security.Claims;
@using app.Utils;
@model app.Pages.IndexModel

<h2> Welcome page Title </h2>

<div> Welcome page text </div>

<a asp-page="./Users">Users</a>
<a asp-page="./Heroes">Heroes</a>
