@page "/Login"
@model app.Pages.LoginModel

@{
    Layout = "_LayoutWithoutNavBar";
}

<body data-bs-theme="dark">
    <div style="padding-top:12%">
        <main class="form-signin w-25 m-auto">
            <form method="post">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingLogin" placeholder="user123" name="Login" autofocus>
                    <label for="floatingLogin">Login</label>
                </div>
                <div class="my-1 form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                
                <div class="w-100 py-2 text-center text-danger">
                    @Model.Message
                </div>

                <button class="my-3 btn btn-primary w-100 py-2" type="submit">Sign in</button>
                <a asp-page="/Public/Register" class="my-2 btn btn-light w-100 py-2">Create Account</a>
                <a asp-page="/Public/Index" class="btn btn-secondary w-100 py-2">Home</a>
            </form>
        </main>
    </div>
</body>
