@using app.Utils;
@model Hero
@{
    Layout = "";
    string classColor = Model.Class.GetAttribute<ColorAttribute>().HexColor;
}

<div class="HeroView">
    <div class="HeroView-Type">
        <div style="display:inline" class="HeroView-Type Border-Bottom">
            <div>Class:</div>
            <div style="color:@classColor">@Model.Class.ToString()</div>
        </div>
        <div style="display:inline" class="mx-4 HeroView-Type Border-Bottom Step">
            <div>Name:</div>
            <div>@Model.Name</div>
        </div>
    </div>
    <div>
        Stats
        <div style="height:1.4em" class="Border">
            <div class="HPBar"></div>
            <div class="BarText">@Model.MaxHP</div>
        </div>
        <div style="height:1.4em" class="Border">
            <div class="MPBar"></div>
            <div class="BarText">@Model.MaxMP</div>
        </div>
    </div>
</div>
