@using app.Utils;
@model HeroInstanceFullInfo

@{
    string hpPercent = Model.GetHPPercent().ToString("0.00", System.Globalization.CultureInfo.InvariantCulture);
    string mpPercent = Model.GetMPPercent().ToString("0.00", System.Globalization.CultureInfo.InvariantCulture);
}

<div class="HeroView">
    <div class="HeroView-Type">
        <div class="HeroView-Type Border-Bottom">
            Class: @Model.Class.ToString()
        </div>
        <div class="HeroView-Type Border-Bottom Step">
            Name: @Model.Name
        </div>
    </div>
    <div>
        Stats
        <div style="height:1.4em" class="Border">
            <div class="HPBar" style="width:@hpPercent%;height:1.2em"></div>
            <div class="BarText">@Model.CurrentHP/@Model.MaxHP</div>
        </div>
        <div style="height:1.4em" class="Border">
            <div class="MPBar" style="width:@mpPercent%;height:1.2em"></div>
            <div class="BarText">@Model.CurrentMP/@Model.MaxMP</div>
        </div>
    </div>
</div>
