<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css"/>

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-utilities.css"/>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-image:url(images/background.png)">
    <div>
        @await Component.InvokeAsync("NavBar")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
