@page "/Shop"
@model app.Pages.ShopModel


<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>AP</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <image href="/images/icon.png" width="100%" height="100%" />
                    </svg>
                    <div class="card-body">
                        <h4>AP</h4>
                        <p class="card-text">Recieve 5 AP.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form asp-page-handler="AP" method="post">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </form>
                            </div>
                            <small class="text-muted">250$</small>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (Item item in Model.Items)
            {
                <partial name="_ShopItemView" model="item"/>
            }
        </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        @if (User.IsInRole("Admin"))
        {
            <a asp-page="/Authenticated/Shop/AddItem" class="bi bi-plus my-3 btn btn-primary btn-lg w-75 my-5 px-5 py-2 gap-3">Add Item</a>
        }
    </div>
</div>