@page "/Game"

<style>
    body {
        background-image: url(images/indexPageBackground.jpg)
    }
</style>

<div class="px-4 py-5 my-5 text-center text-white">
    <h1 class="display-5 fw-bold">You WIN!</h1>
</div>

