@page "/Heroes"
@model app.Pages.HeroesModel


<ul>
    @if (@Model.OwnedHeroes.Count != 0)
    {
        @foreach (HeroInstanceFullInfo hero in Model.OwnedHeroes)
        {
            <li><partial name="_HeroInstanceView" model="hero" /></li>
        }
    }
    else 
    {
        <div>You don't own any hero :(</div>
    }
    <a asp-page="/Authenticated/HeroShop/" class="my-5 mx-3 btn btn-warning btn-lg px-4">Heroes Shop</a>
</ul>
