@page "/Users"
@model app.Pages.UsersListModel


<ul>
    @foreach (User user in Model.Users)
    {
        <li>@user.Login</li>
        
        <ul>
            @foreach (HeroInstance instance in Model.Instances.Where(m => m.OwnerId == user.Id))
            {
                var hero = Model.GetHero(instance.Hero.Id);
                var heroInfo = new HeroInstanceFullInfo(hero, instance);

                <li><partial name="_HeroInstanceView" model="heroInfo" /></li>
            }
        </ul>
    }
</ul>
